body {
  display: flex;
  height: 100vh;
  margin: 0;
}

h2 {
  font-size: 3rem;
  font-weight: 800;
}

.BtnContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Arrange buttons with space between */
  min-width: 70vw; /* Adjust as needed */
  max-height: 15vh;
  margin-top: 20vh;
margin: 15px;}

.BtnHome {
  padding: 20px;
  background-color: #0056b3;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  min-width: 30vw; /* Adjust as needed */

}

.BtnHome:hover {
  background-color: #000000;
  color: #ffffff;
}
