body {
  display: flex;
  max-width: 100vw;
  min-height: 100vh;
}
.update-discrepancy-container{
  margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
}
.discrepancy-form {
    min-width: 30vw;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
h2 {
    text-align: center;
margin-left: 50%;
margin-right: 50%; 
margin-top: 1px;  
  }
  .discrepancy-form label {
    font-weight: bold;
  }
.discrepancy-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .discrepancy-form-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .discrepancy-form-button:hover {
    background-color: #0056b3;
  }
  