.add-advertising-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .advertising-form {
    width: 400px;
    padding: 20px;
  }
  
  /* You can add more styles as needed */
  