.update-advertising-container{
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100vh; 
}
.advertising-form {
  min-width: 30vw;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-left: 70vw;
}
h2 {
  text-align: center;
margin-left: 50%;
margin-right: 50%; 
margin-top: 1px;  
}
.advertising-form label {
  font-weight: bold;
}
.advertising-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.advertising-form-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.advertising-form-button:hover {
  background-color: #0056b3;
}
